@import "tailwindcss";

:root {
  --nav-height: 75px;
  --mobile-nav-height: 75px;
}

@theme {
  --bg-default: #f0efea;
}

.astro-code {
  padding: 1rem;
  border-radius: 0.5rem;
  max-height: 400px;
  overflow-y: scroll;
}

@view-transition {
  navigation: auto;
}
