@import "tailwindcss";

:root {
  --nav-height: 75px;
  --mobile-nav-height: 75px;
}

@theme {
  --bg-default: #f0efea;
}

.astro-code {
  padding: 1rem;
  border-radius: 0.5rem;
  max-height: 400px;
  overflow-y: scroll;
}

@view-transition {
  navigation: auto;
}

#article-0 {
  view-transition-name: title-0;
}

#article-1 {
  view-transition-name: title-1;
}

#article-2 {
  view-transition-name: title-2;
}

#article-3 {
  view-transition-name: title-3;
}

#article-4 {
  view-transition-name: title-4;
}
