---
import Main from "../layouts/Main.astro";
---

<Main
  title="nathantranquilla.me | Next Gen Web Dev Consultation"
  classes="flex flex-col justify-start items-center"
>
  <iframe
    class="h-[1000vh] max-h-[2500px] w-full max-w-[600px]"
    src="https://docs.google.com/forms/d/e/1FAIpQLSdscMbeIJIvOBqrpW4OegfQJ1MjemsMzaGkEFzGLoFI-KCinw/viewform?embedded=true"
    frameborder="0"
    marginheight="0"
    marginwidth="0">Loading…</iframe
  >
</Main>
