---
import Main from "../layouts/Main.astro";
import Hero from "../components/Hero.astro";
---
<Main title="nathantranquilla.me | Next Gen Web Dev">
	<Hero />
	<div class="w-full h-[500px] bg-white rounded-md">

	</div>
</Main>