---
let bodyClass = `font-sans box-border min-h-dvh h-full w-dvw max-w-dvw grid md:grid-rows-[(var(--nav-height))_auto] md:grid-cols-[250px_auto_250px] grid-rows-[var(--mobile-nav-height)_auto] grid-cols-1`
---
<body class={bodyClass}>
  <slot />
</body>