---
export interface Props {
  classes?: string;
  href: string;
}
const { classes, href } = Astro.props;
---

<a
  href={href}
  class={`text-nowrap transition-[transform,box-shadow,background-color] duration-200 rounded-md bg-lime-700 hover:bg-lime-800 text-white py-2 px-6 cursor-pointer hover:scale-[1.03] hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-lime-700 focus:ring-offset-2 shadow-md w-fit h-fit ${classes || ""}`}
>
  <slot />
</a>
