---

import Nav from "../components/Nav.astro"
import Button from "../components/Button.astro";
---
<header class="bg-white px-4 shadow-md sticky top-0 row-start-1 col-start-1 col-end-4 flex justify-start items-baseline md:h-[var(--nav-height)] h-[var(--mobile-nav-height)] border-b border-slate-200">
  <a href="/" class="h-full flex items-center">
    <span class="text-2xl font-bold text-black">nathantranquilla</span><span class="text-2xl font-bold text-lime-700">.me</span>
  </a>
  <Nav />
  <Button classes="hidden md:block ml-auto flex items-center self-center">
    Book Consultation
  </Button>
</header>