---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import Profile from "../assets/Profile.jpg";
import Container from "./Container.astro";
---

<Container
  classes="pt-2 w-full h-fit flex flex-col justify-start items-center pt-[5vh] w-full md:max-w-[640px] max-w-[350px] mx-auto"
>
  <figure class="h-[200px] w-[200px] md:h-[400px] md:w-[400px]">
    <Image
      src={Profile}
      alt="Nathan Tranquilla Profile"
      class="rounded-full shadow-xl"
      widths={[350, 550]}
      layout="constrained"
    />
  </figure>
  <h1
    class="text:lg pt-4 font-serif font-semibold text-nowrap text-slate-700 italic md:text-3xl"
  >
    Nathan Tranquilla | Next-Gen Web Dev
  </h1>
  <p class="w-full py-4 font-sans text-slate-700 md:text-xl">
    I help teams build high-performance, secure, and reliable front-end web
    applications using cutting-edge, strongly typed languages. Move beyond
    JavaScript and TypeScript for a safer, more robust web experience.
  </p>
  <Button href="/consultation">Schedule Consultation</Button>
</Container>
